
.header {
  background-image: url(../img/bg-header.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #ffffeb;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

#header-top h1{
  font-size: 9em;
  font-weight: 700;
  margin: 0px;
  padding-top: 38vh;
  text-align: center;
  position: relative;
  left: -1.4rem;
}
#header-top h2 {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 0.7em;
  margin-left: 2rem;
}

#header-bottom h3 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 0.7em;
  margin-bottom: 3rem;
}

#header-bottom {
  position: absolute;
  bottom: 35px;
  text-align: center;
  width: 100%;
}
